# required settings
# 1) apikey
apikey=9b12a1f9-a329-4ccc-83c0-3d0084dfabe9
# optional information
#database connection
host=your-hostname
user=your-username
password=your-password
database=database-name
port=3306